@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#111111] font-body pt-1  text-white;
    }
}
@layer components {
    .page-container {
        max-width: 1280px;
        @apply mx-auto;
    }
    .movie-list .swiper-slide {
        width: 300px;
        height: auto;
    }
    .banner .swiper {
        height: 100%;
    }
    .btn {
        box-shadow: 0 0 6px 6px rgba(#fc2872, 0.3);
    }
    .btn-custom {
        background: linear-gradient(107.61deg, #00a7b4 15.59%, #a4d96c 87.25%);
        border-radius: 8px;
        box-shadow: 0 0 6px 6px rgba(#a4d96c, 0.3);
    }
    .contact :hover {
        color: #a4d96c;
    }
}
.pagination {
    display: none;
}
.skeleton {
    background-color: #eee;
    background-image: linear-gradient(
        110deg,
        #ececec 8%,
        #f5f5f5 18%,
        #ececec 33%
    );
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
@media (min-width: 640px) {
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .selected {
            @apply text-primary;
        }
    }
}
