.navbar active {
    background-color: white;
}
.left-input {
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    width: 0px;
    padding: 5px;
    background: #111111;
    border: 1px solid #fff;
    transition: width 0.5s;
    cursor: pointer;
    opacity: 0;
    z-index: 10;

    &:focus {
        padding-left: 15px;
        width: 250px;
        cursor: text;
        opacity: 1;
        padding-left: 30px;
        z-index: -1;
    }
}
.logo {
    cursor: pointer;
}
.search {
    top: 5px;
    cursor: pointer;
}
.avatar-header {
    background-color: #fff;
}
