.navbar active {
    background-color: white;
}
.left {
    flex-grow: 1;
    color: #fff;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    .input {
        font-size: 1.4rem;
        border: none;
        color: #fff;
        outline: none;
        width: 0px;
        padding: 10px;
        padding-right: 2rem;
        background: $color-background;
        border: 1px solid #fff;
        transition: width 0.5s;
        cursor: pointer;
        opacity: 0;

        &:focus {
            padding-left: 4rem;
            width: 22rem;
            cursor: text;
            opacity: 1;
        }
    }
}
.logo {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateX(2.4rem) translateY(1rem);
    cursor: pointer;
}
