.movie-card {
    transition: transform 0.5s;
    position: relative;
    transition: all 0.5s;

    .content-card {
        position: absolute;
        top: 30%;
        left: 10%;
        visibility: hidden;
        .btn-card {
        }
    }
    &:hover {
        transform: scale(1.1);
        z-index: 10;
        body {
        }

        .content-card {
            visibility: visible;
            background-color: black;
        }
    }
}
