.movie-card {
    transition: transform 0.5s;
    position: relative;

    .content-card {
        width: 150px;
        position: absolute;
        top: 40%;
        left: 25%;
        visibility: hidden;
        transition: transform 1s;

        .btn-card {
            color: #fff;
            background-color: rgba(112, 111, 111, 0.5);
        }
    }
    &:hover {
        transform: scale(1.1);
        z-index: 10;
        .movie-card {
            background-color: black;
        }
        .content-card {
            visibility: visible;
        }
    }
}
