.movie-card {
    transition: transform 0.5s;
    position: relative;

    .content-card {
        position: absolute;
        top: 10%;
        .btn-card {
        }
    }
    &:hover {
        transform: scale(1.1);
        z-index: 10;
        .movie-list {
            background-color: black;
        }
        .btn-1 {
            visibility: visible;
        }
    }
}
